.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

#landing-page-welcome {
  margin-right: 20px;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Prevent scrolling if not needed */
}

html {
  font-size: 16px;
}

@media (max-width: 600px) {
  html {
    font-size: 14px;
  }
}

@media (max-width: 400px) {
  html {
    font-size: 13px;
  }
}

.app-wrapper {
  max-width: 750px;  /* limit the width */
  min-height: 100vh; /* Fill full vertical height */  
  margin: 0 auto;
  width: 100%;
  background-color: white;
  box-sizing: border-box;
}

/* Add border only when viewport is wider than 750px */
@media (min-width: 751px) {
  .app-wrapper {
    border: 1px solid black;
  }
}

