.bid-panel {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1050; /* above most elements */
  background-color: white;
  box-shadow: 0 2px 8px rgba(0,0,0,0.3);
  transform: translateY(-100%) !important;
  transition: transform 5s ease-in-out !important;
}

.bid-panel.open {
  transform: translateY(0) !important;
}

.game-chat-layout {
  display: flex;
  width: 100%;
  height: 100dvh;
}

.game-panel {
  flex: 1 1 100%;
  min-width: 0;
}

.chat-panel {
  flex: 0 0 0;
  width: 0;
  overflow: hidden;
  box-sizing: border-box;

  background-color: black;
  color: white;
}

.game-chat-layout.chat-open .game-panel {
  flex: 2 1 0;
}

.game-chat-layout.chat-open .chat-panel {
  flex: 1 1 0;
  width: auto;
  padding: 0.5rem;
}

.tablegrid-modal {
  position: absolute !important;
}

.tablegrid-modal-backdrop {
  position: absolute !important;
}