.player-grid {
  display: grid;
  grid-template-rows: 3fr 2fr 2fr;
  grid-Template-Columns: repeat(7, 1fr);
  width: 100%;
  height: 100%;
  margin: 0 auto;     /* center it horizontally */ 
  background-color: white;
}

.cup {
  grid-row: 1 / span 2;
  grid-column: 1 / span 2;
  background-color: white;
}

.player-name {
  grid-row: 1;
  grid-column: 3 / span 5;
  background-color: white;
}
